*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(199, 195, 188);
    font-family: "Protest Riot", sans-serif;
}
.container{
    max-width: 1000px;
    background-color: rgb(192, 184, 236);
    margin: 0 auto;
    padding: 20px;
}
header{

}
.profile-image{
    height: 120px;
    width: 100px;
    border: 3px double gold;
    border-radius: 50%;
    float: left;
}
.header-discription{
    float: left;
    padding: 30px;
}
.header-contact{
    float: right;
    padding: 30px;
}
.header-contact a{
    text-decoration: none;

}
.header-contact a:hover{
    text-decoration: underline;
    color: brown;
}
.div-clear{
    clear: both;
}
hr{
    border: 2px solid black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}